@charset "utf-8";
*{
	padding:0; margin:0;
	list-style-type:none;
	font-family:"Microsoft YaHei";
	font-size:14px;
	}/* CSS Document */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
body{
	color:#666;}
.top{width:1349px;
	 height:100px;
	 background-color:black;
}
.top1{width:1220px;
	  height:100px;
	  background-color:black;
	  margin:0 auto;
	  }
#logo{
  	  width:50px;
	  height:75px;
	  font-size:2px;
	  padding:25px 0 0 0;
	  float:left;
	  margin-left:-5px;
	  
	
}

#logo a{display:block;
   		width:50px;
		height:50px;
		background:url(../img/logo.png);
		text-indent:-9999px;}
.daohang{width:666px;
         height:100px;
		
		float:right;
}
.daohang li{float:left;
			padding-left:5px;
			padding-right:40px;
			line-height:100px;
			
			
}
.daohang li a{color:#999;
			  font-size:13px;}
.log{width:141px;
height:67px;
float:right;
}
.juzhong{
width:100px;
height:28px;
background-color:#151515;
border:1px solid #272727;
border-radius:4px;
margin:37px 0 0 38px;
text-align:center;
color:#FFF;
font-size:0.9em;
line-height:28px;
}
.juzhong a{
	display:inline-block;
	width:100px;
	height:28px;
	color:#CCC;font-size:10px;}
.daohang li:hover a{color:#FFF;}
.nav{ 
 	  width:1349px;
	  height:90px;
	  background-color:#EDEDED;
	 }
.nav1{ width:1220px;
       height:90px;
	   background:#EDEDED;
	   margin:0 auto; 
	   clear:both;
}
.nav1 li{
	position:relative;
	float:left;
	padding:0 38px 0 5px;
	line-height:90px;
	

	
}
.nav1 li a{ text-decoration:none;
			color:#6D6D6D}
.nav1 .point:before{    content: '';
					display: block;
					position: absolute;
					left: -22px;
					top: 50%;
					width: 2px;
					height: 2px;
					margin-top: -1px;
					background: #CCC;
					
}
.mark{ 
      width:114px;
	  height:90px;
	  
	  float:right;
	 }
.mark a{
	display:block;
	background:url(../img/btn-icon.png) -7px -465px no-repeat;
	text-indent:32px;
	margin-top:37px;
	position:relative;
}
.mark .zero1{
	display:inline-block;
	width:16px;
	height:15px;
	border:1px solid #666;
	text-align:center;
	padding-bottom:2px;
	background-color:#999;
	border-radius:10px;
	color:#FFF;
	font-size:10px;
	margin-left:10px;}
.tanchu{
	display:none;
	color:red;
	width:250px;
	height:150px;
	background-color:#FF0;
	position:absolute;
	top:25px; right:10px;
	cursor:crosshair;
	z-index:999;
	}	
.mark a:hover .tanchu{display:block}
.neirong{
	width:1349px;
	background-color:#EDEDED;}
.neirong_c{
	width:1220px;
	background-color:#EDEDED;
	margin: 0 auto;}


.banner{
	width:1220px;
	background-color:#7E1C1B;
	margin:0 auto;
	border:1px solid black;
	border-radius:10px;
	}
.pic{
	
	width:1220px;
	height:554px;
	background:url(../img/banner1.src);
	
}
.banner1{
	position:absolute;
	width:1220px;
	height:554px;
	background:url(../img/banner2.src);
	
	}
	
	
}
.pic,.banner1{
	margin:0 auto;}

.box{
    box-sizing:border-box;
	-webkit-box-sizing: border-box;
	background: #fff;
    position: relative;
    z-index: 0;
    overflow:hidden;
    margin-top: 29px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.14);
    box-shadow: 0 3px 2px 5px rgba(0,0,0,.1);
    }
.box li{
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
    float: left;
    width: 25%;
    height: 200px;
    position: relative;
		
		}

.box li:before{
    
	content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
	z-index:1}
.box li a{
	display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	z-index:4;
}
.box li a:hover{
	box-shadow: 0 0 38px #CCCCCC inset;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
	}

.zhanshi{
	background-color:#EDEDED;
	overflow:hidden;
		}
#head11{
	overflow:hidden;
	width:1220px;
	height:489px;
	margin:0 auto;
	font-size:18px;
	color:#666;
	background-color:#fafafa;
	margin-top:29px;
    border: 1px solid s;
	border-radius: 8px;
    
	box-sizing:border-box;
    box-shadow: 0 3px 2px 5px rgba(0,0,0,.1);
	}
#head11 h5{
	margin-left:30px;
	height:60px;
	line-height:60px;
	position:relative;
	}

#head11 h5:after{
    content:"";
    height: 1px;
    width:1220px;
    background: rgba(0,0,0,.1);
    position: absolute;
    left:-30px;
	bottom:-1px;
    z-index: 10;
}
.allbox{
	background-color:#fff;
	height:429px;
	clear:both;
	position:relative;
	
	}
.box_1 img{
    margin:50px auto;
    width: 206px;
    height: 206px;
    display: block;
	position:relative;
	
	}
.box_1{
	width:25%;
	position:relative;
	float:left;
	background-color:#fff;
    
	}	

.ng-binding{
	font-size:16px;
	color:#424242;
	text-align:center;
	line-height:1.2;
	}
.jieshao{
    position: absolute;
    left: 35px;
    top: 274px;
	}
.dian{
	text-align:center;
	height:45px;
    
	}
     
.dian span{
	display:inline-block;
	background-image:url(../img/20X20.jpg);
	width:8px;
	height:8px;
	border-radius:50%;
    margin-bottom:3px;
	}
.dian p{
	margin:15px 8px 0;
	position:relative;
	z-index:100;
	text-align:center;
	display:inline-block;
	width:16px;
	height:16px;
	border:1px solid #E1E1E1;
	border-radius:50%;
	}
.dian p:hover{
	border:3px solid gray;
	-webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.jiage{
	text-align:center;
	margin-top:18px}

#lianjie1,#lianjie2,#lianjie3,#lianjie4{
	height:429px;
	display:block;
	position:absolute;
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index:4;
}
#lianjie1:hover,#lianjie2:hover,#lianjie3:hover,#lianjie4:hover{
	box-shadow: 0 0 38px #CCCCCC inset;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;}
.wei:before{
	content:"";
	position:absolute;
	background-color:rgba(0,0,0,.1);
	width:1px;
	height:429px;
	left:0;
	top:0}
#xq{
	position:absolute;
	display:none;
	border:1px solid #E4E4E4;
	width:80px;
	height:25px;
	text-align:center;
	line-height:25px;
	left:115px;
	top:367px;
	border-radius:7px;
	background-color:#F0F0F0;
	z-index:3;
	}
.buttom1{
	
	height:351px;
	background-color:#fafafa;
	margin-top:101px;
	position:relative
	}
.container{
	width:1220px;
	height:351px;
	
	margin:0 auto;}
.list_top{
	height: 100px;
    padding: 100px 0 32px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
	}
.buttom1:before{
	content:"";
	width:100%;
	height:1px;
	position:absolute;
	background:rgba(0,0,0,.1);
	top:0}
.nav_l h3{
	color: #646464;
    font-size: 12px;
    padding: 0 0 14px;}
.nav_l li{
	color: #c3c3c3;
    font-size: 12px;
    padding: 6px 0;
	line-height:1;}
.nav_l>li{
	width: 149px;
    line-height: 1;
    float: left;
	}
.nav_r li{
	float:right;
	line-height:18px;}
.tel{
	font-size: 28px;
    line-height: 1;}

.time{
	position:relative;
	margin-top: 15px;
    right: -5px;
   
	font-size:12px;
	color:#c3c3c3;}
.help{
	display:block;
	position:absolute;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: -webkit-linear-gradient(#fcfcfc,#f5f5f5);
    background: linear-gradient(#fcfcfc,#f5f5f5);
    cursor: pointer;
    font-size: 14px;
    top:165px;
	right:0px;
    text-align:center;
   
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
	text-decoration:none}
.list_bottom{
	font-size:12px;
	padding:40px 0}
.list_bottom h4,h5,.privacy li{
	float:left;}
.privacy a{
	text-decoration:none;
	color:#5079d9;
	font-size:12px;
	}
.privacy li{
	margin:0 0 0 12px;
	border-left:1px solid #E3E3E3;
	
	padding:0 0 0 5px}
.list_bottom h6{
	clear:both;
	padding-top:8px}
.list_bottom h6 a{
	text-decoration:none;
	color: #bdbdbd;
    
    height: 12px;
    line-height: 1;}
.list_bottom h6 a span{
	margin-right:20px;
	font-size: 5px;}